<div class="container">

  <div class="result_div">

    <ul class="result_text">
     <li>Your word: "<%= @word_to_count %>"</li>
     <li>Your sentence: "<%= @given_sentence %>"</li>
     <li>Frequency of word in sentence: <%= @number_of_times %></li>
   </ul>

  </div>

</div>
