<div class="result_div">

  <div class="list_div">
    <ul class="result_list">
     <li class="word_result">Your word: "<%= @word_to_count %>"</li>
     <li class="sentence_result">Your sentence: "<%= @given_sentence %>"</li>
     <li class="frequence_result">Frequency of word: <%= @number_of_times %></li>
   </ul>
  </div>

</div>

<div class="home_button">
  <a href="/">Home</a>
</div>
