<div class="container">
  <div class="form_container1">
    <div class="form_container2">
      <div class="form_container3">
        <div class="form_div">

          <h1 class="welcome_header">Welcome to</h1>
          <h2 class="name_of_game">COUNT THAT WORD!</h2>

          <form action="/frequency">
            <div class="form-group">
            <label for="word_to_count">Type in a word!
            </label>
              <input id="word_to_count" name="word_to_count" class="form-control" type="text">
            </div>
            <div class="form-group">
            <label for="given_sentence">Type in a sentence!
            </label>
              <input id="given_sentence" name="given_sentence" class="form-control" type="text">
            </div>
            <button type="submit" class="btn-success">What's the frequency Kenneth?</button>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>
